<div [id]="props.id" class="hidden md:grid {{ props.class }} grid-flow-col gap-4 items-start" [formGroup]="FormGroup">
    <div *ngFor="let item of props.fields"
        class="flex {{ props.style == 'inline' ? 'flex-row' : 'flex-col' }} {{ item.type == 'textarea' ? 'items-start' : 'items-center' }} gap-1"
        [class.hidden]="item.hidden">
        <!-- Label -->
        <div *ngIf="item.id !== 'just_gap'" class="{{ props.style == 'inline' ? 'w-4/12' : 'w-full'  }}">
            <p class="text-sm text-gray-600 font-medium {{ item.type == 'textarea' ? 'pt-3' : '' }}">
                {{ item.label }}
                <span *ngIf="item.required" class="text-xs text-red-500">*</span>
            </p>
        </div>

        <div *ngIf="item.id !== 'just_gap'" class="{{ props.style == 'inline' ? 'w-8/12' : 'w-full'  }}">
            <!-- Text -->
            <input *ngIf="item.type == 'text'" type="text" pInputText
                class="p-inputtext-sm w-full {{ props.state == 'read' || item.readonly ? 'readonlyState' : '' }}"
                formControlName="{{ item.id }}" [readonly]="props.state == 'read' || item.readonly "
                (change)="handleChangeInputText($event, item)" [value]="item.value" />

            <!-- Textarea -->
            <textarea *ngIf="item.type == 'textarea'" rows="{{ item.textareaRow }}" pInputTextarea
                class="p-inputtext-sm w-full {{ props.state == 'read' ? 'readonlyState' : '' }}"
                formControlName="{{ item.id }}" [readonly]="props.state == 'read' || item.readonly ">
            </textarea>

            <!-- Number -->
            <p-inputNumber *ngIf="item.type == 'number'" inputId="integeronly" class="p-inputtext-sm w-full"
                formControlName="{{ item.id }}" [readonly]="item.readonly! || props.state == 'read'"
                (onBlur)="item.onChange?.(FormGroup.get(item.id)?.value)">
            </p-inputNumber>

            <!-- Datepicker -->
            <p-calendar *ngIf="item.type == 'date'" appendTo="body" styleClass="p-inputtext-sm w-full"
                dateFormat="dd MM yy" [showClear]="true" formControlName="{{ item.id }}" [readonlyInput]="true">
            </p-calendar>

            <!-- Daterange -->
            <p-calendar *ngIf="item.type == 'daterange'" appendTo="body" styleClass="p-inputtext-sm w-full"
                dateFormat="dd MM yy" [showClear]="true" selectionMode="range" formControlName="{{ item.id }}">
            </p-calendar>

            <!-- Dropdown -->
            <p-dropdown *ngIf="item.type == 'select'" [options]="item.dropdownProps.options"
                [optionLabel]="item.dropdownProps.optionName"
                [optionValue]="item.dropdownProps.optionValueAlternative ? item.dropdownProps.optionValueAlternative : item.dropdownProps.optionValue"
                [autoDisplayFirst]="false" [showClear]="true" [filter]="true" styleClass="p-inputtext-sm w-full"
                formControlName="{{ item.id }}" appendTo="body" [disabled]="props.state == 'read'"
                (onChange)="handleChangeDropdown($event, item)" (onFilter)="handleFilterDropdown($event, item)">
                <ng-template *ngIf="item.dropdownProps.customField" let-data pTemplate="item">
                    <div class="flex flex-col gap-2">
                        <p class="text-blue-500 text-sm font-semibold">
                            {{ data[item.dropdownProps.customField.title] }}
                        </p>
                        <p class="text-gray-800 text-xs">
                            {{ data[item.dropdownProps.customField.subtitle] }}
                        </p>
                        <p *ngIf="item.dropdownProps.customField.description" class="text-gray-600 text-xs">
                            {{ data[item.dropdownProps.customField.description] ?
                            data[item.dropdownProps.customField.description] : '-' }}
                        </p>
                    </div>
                </ng-template>
                <ng-template *ngIf="item.dropdownProps.customField?.footer" let-data pTemplate="footer">
                    <div class="grid grid-cols-1 w-full p-2 bg-gray-100">
                        <p-button styleClass="p-button-info p-button-sm w-full"
                            [label]="item.dropdownProps.customField.footer.label" icon="pi pi-plus"
                            (onClick)="item.dropdownProps.customField.footer.method()">
                        </p-button>
                    </div>
                </ng-template>
            </p-dropdown>

            <!-- Radio Button -->
            <div *ngIf="item.type == 'radio'" class="flex flex-wrap gap-3">
                <div *ngFor="let radio of item.radioButtonProps; let i = index" class="flex align-items-center">
                    <p-radioButton [value]="radio.value" [name]="radio.id" formControlName="{{ item.id }}"
                        styleClass="p-inputtext-sm">
                    </p-radioButton>
                    <label for="{{ radio.id }}" class="ml-2 text-sm">
                        {{ radio.label }}
                    </label>
                </div>
            </div>

            <!-- Checkbox -->
            <div *ngIf="item.type == 'checkbox'" class="flex items-center flex-row gap-3">
                <div *ngFor="let check of item.checkBoxProps" class="flex align-items-center gap-1">
                    <p-checkbox [name]="item.id" [value]="check.value" formControlName="{{ item.id }}"
                        inputId="{{ check.name }}_check">
                    </p-checkbox>

                    <label for="{{ check.name }}_check" class="text-sm">
                        {{ check.label }}
                    </label>
                </div>
            </div>

            <!-- Password -->
            <p-password *ngIf="item.type == 'password'" formControlName="{{ item.id }}" [feedback]="false"
                [toggleMask]="true" styleClass="p-inputtext-sm w-full">
            </p-password>

            <!-- Lookup -->
            <app-lookup-dialog *ngIf="item.type == 'lookup'" [props]="item.lookupProps!"
                (onSelectData)="handleSelectDataLookup(item, $event)">
            </app-lookup-dialog>

            <!-- Input Text Split -->
            <div *ngIf="item.type == 'text_split'" class="flex gap-4 items-center">
                <input *ngFor="let text of item.splitProps" type="text" pInputText
                    class="p-inputtext-sm w-full {{ props.state == 'read' || text.readonly ? 'readonlyState' : '' }}"
                    formControlName="{{ text.id }}" [readonly]="props.state == 'read'"
                    (change)="handleChangeInputText($event, text)" [value]="text.value" />
            </div>
        </div>
    </div>
</div>

<!-- Form Mobile -->
<div [id]="props.id" class="md:hidden grid gap-4 items-start" [formGroup]="FormGroup">
    <div *ngFor="let item of props.fields"
        class="flex {{ props.style == 'inline' ? 'flex-row' : 'flex-col' }} {{ item.type == 'textarea' ? 'items-start' : 'items-center' }} gap-2"
        [class.hidden]="item.hidden">
        <!-- Label -->
        <div *ngIf="item.id !== 'just_gap'" class="{{ props.style == 'inline' ? 'w-4/12' : 'w-full'  }}">
            <p class=" text-xs text-gray-600 {{ item.type == 'textarea' ? 'pt-3' : '' }}">
                {{ item.label }}
                <span *ngIf="item.required" class="text-xs text-red-500">*</span>
            </p>
        </div>

        <div *ngIf="item.id !== 'just_gap'" class="{{ props.style == 'inline' ? 'w-8/12' : 'w-full'  }}">
            <!-- Text -->
            <input *ngIf="item.type == 'text'" type="text" pInputText
                class="p-inputtext-sm w-full {{ props.state == 'read' ? 'readonlyState' : '' }}"
                formControlName="{{ item.id }}" [readonly]="props.state == 'read' || item.readonly " />

            <!-- Textarea -->
            <textarea *ngIf="item.type == 'textarea'" rows="{{ item.textareaRow }}" pInputTextarea
                class="p-inputtext-sm w-full {{ props.state == 'read' ? 'readonlyState' : '' }}"
                formControlName="{{ item.id }}" [readonly]="props.state == 'read' || item.readonly ">
            </textarea>

            <!-- Number -->
            <p-inputNumber *ngIf="item.type == 'number'" inputId="integeronly" class="p-inputtext-sm w-full"
                formControlName="{{ item.id }}" [readonly]="item.readonly! || props.state == 'read'"
                (onBlur)="item.onChange?.(FormGroup.get(item.id)?.value)">
            </p-inputNumber>

            <!-- Datepicker -->
            <p-calendar *ngIf="item.type == 'date'" appendTo="body" styleClass="p-inputtext-sm w-full"
                dateFormat="dd MM yy" [showClear]="true" formControlName="{{ item.id }}" [readonlyInput]="true">
            </p-calendar>

            <!-- Daterange -->
            <p-calendar *ngIf="item.type == 'daterange'" appendTo="body" styleClass="p-inputtext-sm w-full"
                dateFormat="dd MM yy" [showClear]="true" selectionMode="range" formControlName="{{ item.id }}">
            </p-calendar>

            <!-- Dropdown -->
            <p-dropdown *ngIf="item.type == 'select'" [options]="item.dropdownProps.options"
                [optionLabel]="item.dropdownProps.optionName" [optionValue]="item.dropdownProps.optionValue"
                [autoDisplayFirst]="false" [showClear]="true" [filter]="true" styleClass="p-inputtext-sm w-full"
                formControlName="{{ item.id }}" appendTo="body" [filterBy]="item.dropdownProps.optionName"
                [disabled]="props.state == 'read'" (onChange)="handleChangeDropdown($event, item)"
                (onFilter)="handleFilterDropdown($event, item)">
                <ng-template *ngIf="item.dropdownProps.customField" let-data pTemplate="item">
                    <div class="flex flex-col gap-2">
                        <p class="text-blue-500 text-sm font-semibold">
                            {{ data[item.dropdownProps.customField.title] }}
                        </p>
                        <p class="text-gray-800 text-xs">
                            {{ data[item.dropdownProps.customField.subtitle] }}
                        </p>
                        <p *ngIf="item.dropdownProps.customField.description" class="text-gray-600 text-xs">
                            {{ data[item.dropdownProps.customField.description] }}
                        </p>
                    </div>
                </ng-template>
                <ng-template *ngIf="item.dropdownProps.customField" let-data pTemplate="footer">
                    <div class="grid grid-cols-1 w-full p-2 bg-gray-100">
                        <p-button styleClass="p-button-info p-button-sm w-full"
                            [label]="item.dropdownProps.customField.footer.label" icon="pi pi-plus"
                            (onClick)="item.dropdownProps.customField.footer.method()">
                        </p-button>
                    </div>
                </ng-template>
            </p-dropdown>

            <!-- Radio Button -->
            <div *ngIf="item.type == 'radio'" class="flex flex-wrap gap-3">
                <div *ngFor="let radio of item.radioButtonProps; let i = index" class="flex align-items-center">
                    <p-radioButton [name]="radio.name" [value]="radio.value" inputId="{{ item.id }}_{{ i }}"
                        formControlName="{{ item.id }}">
                    </p-radioButton>
                    <label for="{{ item.id }}_{{ i }}" class="ml-2">
                        {{ radio.label }}
                    </label>
                </div>
            </div>

            <!-- Checkbox -->
            <div *ngIf="item.type == 'checkbox'" class="flex items-center flex-row gap-3">
                <div *ngFor="let check of item.checkBoxProps" class="flex align-items-center gap-1">
                    <p-checkbox [name]="item.id" [value]="check.value" formControlName="{{ item.id }}"
                        inputId="{{ check.name }}_check">
                    </p-checkbox>

                    <label for="{{ check.name }}_check" class="text-sm">
                        {{ check.label }}
                    </label>
                </div>
            </div>

            <!-- Password -->
            <p-password *ngIf="item.type == 'password'" formControlName="{{ item.id }}" [feedback]="false"
                [toggleMask]="true" styleClass="p-inputtext-sm w-full">
            </p-password>
        </div>
    </div>
</div>

<p-toast></p-toast>