<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <div class="grid grid-cols-12 gap-3 items-start">
        <div class="grid col-span-4 bg-white rounded-lg shadow p-3 gap-1">
            <!-- Tanggal Pencarian -->
            <div class="flex flex-col mb-2 gap-1">
                <p class="text-gray-700 text-sm font-medium">
                    Tanggal Pencarian
                </p>

                <p-calendar #CalendarSearchComps selectionMode="range" styleClass="p-inputtext-sm w-full mb-2"
                    dateFormat="dd/mm/yy" appendTo="body">
                </p-calendar>
            </div>

            <!-- Diagnosa -->
            <div class="flex flex-col mb-2 gap-1">
                <p class="text-gray-700 text-sm font-medium">
                    Diagnosa
                </p>

                <p-dropdown [filter]="true" styleClass="p-inputtext-sm w-full" [options]="Icd10Datasource"
                    optionLabel="nama_icd_10" optionValue="kode_icd_10" [(ngModel)]="Diagnosa"
                    (onFilter)="handleSearchIcd10($event)">
                </p-dropdown>
            </div>


            <p-button severity="info" label="Generate Laporan" styleClass="p-button-sm w-full"
                (onClick)="handleSearch(CalendarSearchComps.value, Diagnosa)">
            </p-button>
        </div>

        <div *ngIf="Periode" id="laporan_kunjungan" class="grid col-span-8 bg-white rounded-lg shadow-sm p-5">
            <app-header-laporan [title]="'Laporan Kunjungan'" [periode]="Periode"></app-header-laporan>

            <app-grid #GridComps [props]="GridProps"></app-grid>
        </div>
    </div>
</app-dashboard>