<div
    class="flex w-full gap-2 justify-between items-center bg-white h-[4rem] shadow border-b border-t-0 border-x-0 border-solid border-gray-200 px-10">
    <div class="flex gap-5 items-center">
        <span class="text-gray-600 cursor-pointer" (click)="handleToggleSidebar()">
            <i class="pi pi-bars"></i>
        </span>

        <p class="text-blue-500 font-bold text-3xl">
            GRA<span class="text-yellow-400">HCIS</span>
        </p>
    </div>

    <div class="flex items-center gap-8">
        <span class="text-gray-600 hover:text-blue-500 cursor-pointer" (click)="handleToggleTopMenu()">
            <i class="pi pi-th-large"></i>
        </span>

        <span class="text-gray-600 hover:text-blue-500 cursor-pointer" (click)="onBackToBeranda()">
            <i class="pi pi-home"></i>
        </span>

        <span class="text-gray-600 cursor-pointer" (click)="onSignOut()">
            <i class="pi pi-sign-out"></i>
        </span>
    </div>
</div>