<section id="authentication" class="bg-white h-screen">
    <div class="flex w-full h-full gap-5 p-5">
        <!-- Form -->
        <div class="w-full md:w-6/12 flex flex-col flex-nowrap justify-between h-full">
            <!-- Title -->
            <div class="flex gap-1 mb-5">
                <!-- Title -->
                <img src="../../../assets/image/logo.png" alt="logo" class="h-[2.5rem] w-auto">
            </div>

            <!-- Form -->
            <div class="flex flex-col gap-0 mb-7 md:px-32">
                <p class="text-4xl font-semibold text-gray-800 text-center">
                    Selamat Datang
                </p>
                <p
                    class="text-base text-gray-600 text-center mb-5 pb-3 border-b border-t-0 border-x-0 border-dashed border-gray-200">
                    Masuk ke akun Anda untuk mengelola layanan Anda.
                </p>

                <div class="w-full mb-5">
                    <app-dynamic-form #FormComps [props]="FormProps"></app-dynamic-form>
                </div>

                <div class="flex flex-col w-full">
                    <p-button severity="info" styleClass="w-full rounded-xl" label="Masuk" (onClick)="handleSignIn()">
                    </p-button>
                </div>
            </div>

            <div class="flex flex-col md:flex-row w-full items-center md:items-start md:justify-between gap-1 px-10">
                <p class="text-xs text-gray-600 mt-1 cursor-pointer text-center">
                    SatuNapas v.0.0.1 - <span class="font-semibold">{{ Year }}</span> . All Rights Reserved
                </p>

                <p class="text-xs text-gray-600 mt-1 cursor-pointer text-center">
                    PT. Mitra Aplikasi Teknologi
                </p>
            </div>
        </div>

        <!-- Image -->
        <div id="authenticationDiv" class="w-6/12 hidden md:flex rounded-2xl h-full shadow-xl">
        </div>
    </div>
</section>