<div *ngIf="Breadcrumbs$ | async as breadcrumbs" class="flex gap-2">
    <div *ngFor="let item of breadcrumbs; let first = first; let last = last; let i = index"
        class="flex gap-2 items-center">
        <span *ngIf="first" class="text-blue-500 cursor-pointer" (click)="handleNavigateToBeranda()">
            <i class="pi pi-home"></i>
        </span>

        <p class="{{ last ? 'text-base text-gray-700 font-medium' : 'text-sm text-gray-500' }}">
            {{ item }}
        </p>

        <p *ngIf="!last" class="text-gray-700 text-xs">
            <i class="pi pi-chevron-right" style="font-size: 10px;"></i>
        </p>
    </div>
</div>