<section class="w-full h-screen flex flex-col items-center justify-center bg-gray-100">
    <p class="text-7xl text-blue-500 font-semibold mb-5">
        Oops...
    </p>
    <p class="text-xl text-gray-700 font-medium">
        Anda Tidak Berhak Mengakses Menu Ini
    </p>
    <p class="text-lg text-gray-700 mb-5">
        Hubungi Administrator atau Kembali ke Beranda
    </p>

    <p-button styleClass="p-button-sm p-button-info" label="Kembali ke Beranda" (click)="backToBeranda()"></p-button>
</section>