<div *ngIf="props.showSearch"
    class="flex items-center justify-between w-full mb-4 pt-2 pb-3 border-b border-t-0 border-x-0 border-dashed border-gray-300">
    <div class="flex w-5/12">
        <input #KeywordSearch type="text" pInputText class="w-full p-inputtext-sm"
            [placeholder]="props.searchPlaceholder">
    </div>

    <div class="flex gap-3">
        <p-button severity="info" label="Cari" styleClass="p-button-sm"
            (onClick)="onSearchKeyword(KeywordSearch.value)">
        </p-button>

        <p-button severity="secondary" label="Export" styleClass="p-button-sm" (onClick)="onExportExcel()"></p-button>
    </div>
</div>

<div class="grid w-full">
    <p-table [value]="props.dataSource" [columns]="props.column" styleClass="p-datatable-striped"
        [tableStyle]="{'min-width': '50rem'}" selectionMode="single" [(selection)]="SelectedRow" sortMode="multiple">
        <ng-template pTemplate="header" let-columns>
            <tr class="bg-gray-100">
                <th *ngFor="let col of columns" class="text-sm" [pSortableColumn]="col.field">
                    {{ col.headerName }} <p-sortIcon [field]="col.field" style="font-size: 12px" />
                </th>
                <th *ngIf="props.toolbar" class="text-sm text-center">
                    Aksi
                </th>
            </tr>
        </ng-template>
        <ng-template *ngIf="props.dataSource" pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" (dblclick)="onRowDoubleClicked(rowData)" (click)="onCellClicked(rowData)">
                <td *ngFor="let col of columns" class="text-sm {{ col.class }}">
                    @switch (col.renderAsCheckbox){
                    @case (true) {
                    <i class="pi {{ rowData[col.field] ? 'pi-check' : 'pi-times' }}"></i>
                    }
                    @case (false) {
                    @switch (col.format) {
                    @case ('currency') {
                    {{ handleFormatStringToNumber(rowData[col.field]) | currency: 'Rp. ' }}
                    }
                    @case ('date') {
                    {{ rowData[col.field] | date: 'dd-MM-yyyy' }}
                    }
                    @case ('number') {
                    {{ handleFormatStringToNumber(rowData[col.field]) | number: '' }}
                    }
                    @case (undefined) {
                    {{ rowData[col.field] }}
                    }
                    @default {
                    {{ rowData[col.field] }}
                    }
                    }
                    }
                    @default {
                    {{ rowData[col.field] }}
                    }
                    }
                </td>
                <td *ngIf=" gridToolbar" class="text-center">
                    <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>

                    <p-overlayPanel #op>
                        <div class="flex flex-col gap-2 w-[10rem]">
                            @for (item of gridToolbar; track $index) {
                            <div class="flex items-center gap-2 p-2 bg-white hover:bg-gray-100 transition-all rounded-md"
                                (click)="onAksiClicked(item.id, rowData)">
                                <i class="pi {{ item.icon }}" style="font-size: 13px"></i>
                                <span class="font-medium text-sm text-gray-700">
                                    {{ item.title }}
                                </span>
                            </div>
                            }
                        </div>
                    </p-overlayPanel>
                </td>
            </tr>
        </ng-template>
        <ng-template *ngIf="!props.dataSource">
            <div class="flex w-full justify-center">
                <p class="text-sm font-medium text-gray-700">
                    Tidak ada data
                </p>
            </div>
        </ng-template>
    </p-table>
</div>