<div class="flex flex-col w-full gap-3">
    <!-- KIE -->
    <div class="flex flex-col w-full bg-white rounded-lg shadow gap-0 p-3">
        <p class="text-gray-700 text-xl font-semibold">
            KIE
        </p>
        <p class="text-gray-700 text-sm mb-4">
            Mohon isi data kie pasien apabila ada
        </p>

        <!-- Is Ada KIE -->
        <div [formGroup]="FormTindakan" class="flex flex-col w-full">
            <textarea pInputTextarea rows="4" class="p-inputtext-sm w-full" placeholder="Tulis KIE yang disarankan"
                formControlName="keterangan_kie"></textarea>
        </div>
    </div>

    <!-- Tindakan -->
    <div class="flex flex-col w-full bg-white rounded-lg shadow gap-0 p-3">
        <p class="text-gray-700 text-xl font-semibold">
            Tindakan
        </p>
        <p class="text-gray-700 text-sm mb-4">
            Mohon isi data tindakan pasien apabila ada
        </p>


        <div class="flex flex-row gap-2 w-full mb-4" [formGroup]="FormTindakan">
            <div class="w-3/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm">
                    Tanggal Tindakan
                </p>
                <p-calendar styleClass="p-inputtext-sm w-full" dateFormat="dd MM yy" formControlName="tanggal_tindakan"
                    [showClear]="true">
                </p-calendar>
            </div>
            <div class="w-2/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm">
                    Jam Tindakan
                </p>
                <p-calendar styleClass="p-inputtext-sm w-full" formControlName="waktu_tindakan" [timeOnly]="true"
                    [showClear]="true">
                </p-calendar>
            </div>
            <div class="w-3/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm">
                    Petugas
                </p>
                <p-dropdown [options]="PetugasDatasource" optionLabel="nama" optionValue="id_user"
                    styleClass="p-inputtext-sm w-full" placeholder="Pilih Petugas" [autoDisplayFirst]="false"
                    [filter]="true" appendTo="body" formControlName="petugas">
                </p-dropdown>
            </div>
        </div>

        <div class="flex w-full flex-col gap-0 border border-dashed border-gray-300 p-2 rounded-lg">

            <!-- Heading -->
            <div class="flex flex-row gap-2 items-center mb-0">
                <div class="w-6/12">
                    <p class="text-gray-700 text-sm font-medium">
                        Nama Tindakan
                    </p>
                </div>
                <div class="w-2/12">
                    <p class="text-gray-700 text-sm font-medium">
                        Qty
                    </p>
                </div>
                <div class="w-2/12">
                    <p class="text-gray-700 text-sm font-medium">
                        Harga Total
                    </p>
                </div>
                <div class="w-2/12">
                    <p class="text-gray-700 text-center text-sm font-medium">
                        Aksi
                    </p>
                </div>
            </div>

            <!-- Content -->
            @for(item of TindakanForSave; let i = $index; let last = $last; track item) {
            <!-- Add & edit -->
            <div *ngIf="item.is_new || item.is_edit" class="flex flex-row w-full gap-2 items-center mb-2">
                <div class="w-6/12">
                    <p-dropdown [options]="TindakanMedisDatasource" optionLabel="tindakan"
                        styleClass="p-inputtext-sm w-full" placeholder="Pilih Tindakan Medis" [autoDisplayFirst]="false"
                        [filter]="true" appendTo="body" (onChange)="handleChangeTindakanMedisDropdown($event, i)">
                    </p-dropdown>
                </div>
                <div class="w-2/12 flex">
                    <p-inputNumber styleClass="p-inputtext-sm w-full" [(ngModel)]="item.qty"
                        (ngModelChange)="handleChangeTindakanMedisQty($event, i)">
                    </p-inputNumber>
                </div>
                <div class="w-2/12 flex">
                    <p-inputNumber styleClass="p-inputtext-sm w-full" [(ngModel)]="item.total" [disabled]="true">
                    </p-inputNumber>
                </div>
                <div class="w-2/12 flex justify-center">
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        styleClass="p-button-sm" (onClick)="handleDeleteTindakan(i)" />
                </div>
            </div>

            <!-- Just view -->
            <div *ngIf="!item.is_new && !item.is_edit" class="flex flex-row gap-2 items-center mb-2">
                <div class="w-6/12">
                    <p class="text-gray-700 text-sm">
                        {{ item.tindakan | titlecase }}
                    </p>
                </div>
                <div class="w-2/12 flex">
                    <p class="text-gray-700 text-sm">
                        {{ item.qty | number }}
                    </p>
                </div>
                <div class="w-2/12 flex">
                    <p class="text-gray-700 text-sm">
                        {{ item.total | currency: 'Rp. ' }}
                    </p>
                </div>
                <div class="w-2/12 flex justify-center">
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="warning"
                        styleClass="p-button-sm" (onClick)="handleEditTindakan(i)" />

                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        styleClass="p-button-sm" (onClick)="handleDeleteTindakan(i)" />
                </div>
            </div>
            }

            <!-- Footer -->
            <div class="flex items-center justify-center gap-1 py-2 rounded-md bg-gray-100 hover:bg-gray-200 cursor-pointer mt-2"
                (click)="handleAddTindakan()">
                <i class="pi pi-plus" style="font-size: 13px"></i>
                <p class="text-sm text-gray-800 font-medium text-center">
                    Tambah Tindakan Medis
                </p>
            </div>
        </div>
    </div>

    <!-- BMHP -->
    <div class="flex flex-col w-full bg-white rounded-lg shadow gap-0 p-3">
        <p class="text-gray-700 text-xl font-semibold">
            Bahan Medis Habis Pakai
        </p>
        <p class="text-gray-700 text-sm mb-4">
            Mohon isi data BMHP apabila ada
        </p>

        <div class="flex w-full flex-col gap-0 border border-dashed border-gray-300 p-2 rounded-lg">
            <div class="flex flex-row gap-2 items-center mb-0">
                <div class="w-6/12">
                    <p class="text-gray-700 text-sm font-medium">
                        Nama Item
                    </p>
                </div>
                <div class="w-2/12">
                    <p class="text-gray-700 text-sm font-medium">
                        Qty
                    </p>
                </div>
                <div class="w-2/12">
                    <p class="text-gray-700 text-sm font-medium">
                        Harga Total
                    </p>
                </div>
                <div class="w-2/12">
                    <p class="text-gray-700 text-center text-sm font-medium">
                        Aksi
                    </p>
                </div>
            </div>

            @for(item of BmhpForSave; let i = $index; let last = $last; track item) {
            <div *ngIf="!item.is_new && !item.is_edit" class="flex flex-row gap-2 items-center mb-2">
                <div class="w-6/12">
                    <p class="text-gray-700 text-sm">
                        {{ item.nama_item | titlecase }}
                    </p>
                </div>
                <div class="w-2/12 flex">
                    <p class="text-gray-700 text-sm">
                        {{ item.qty | number }}
                    </p>
                </div>
                <div class="w-2/12 flex">
                    <p class="text-gray-700 text-sm">
                        {{ item.total | currency: 'Rp. ' }}
                    </p>
                </div>
                <div class="w-2/12 flex justify-center">
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="warning"
                        styleClass="p-button-sm" (onClick)="handleEditBmhp(i)" />

                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        styleClass="p-button-sm" (onClick)="handleDeleteBmhp(i)" />
                </div>
            </div>

            <div *ngIf="item.is_new || item.is_edit" class="flex flex-row w-full gap-2 items-center mb-2">
                <div class="w-6/12">
                    <p-dropdown [options]="BmhpDatasource" optionLabel="nama_item" styleClass="p-inputtext-sm"
                        [style]="{ minWidth: '50px', width: '100%' }" placeholder="Pilih Item"
                        [autoDisplayFirst]="false" [filter]="true" appendTo="body"
                        (onChange)="handleChangeBmhpDropdown($event, i)">
                    </p-dropdown>
                </div>
                <div class="w-2/12">
                    <p-inputNumber styleClass="p-inputtext-sm w-full" [(ngModel)]="item.qty"
                        (ngModelChange)="handleChangeBmhpQty($event, i)">
                    </p-inputNumber>
                </div>
                <div class="w-2/12">
                    <p-inputNumber styleClass="p-inputtext-sm w-full" [(ngModel)]="item.total" [disabled]="true">
                    </p-inputNumber>
                </div>
                <div class="w-2/12 flex justify-center">
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        styleClass="p-button-sm" (onClick)="handleDeleteBmhp(i)" />
                </div>
            </div>
            }

            <!-- Footer -->
            <div class="flex items-center justify-center gap-1 py-2 rounded-md bg-gray-100 hover:bg-gray-200 cursor-pointer mt-2"
                (click)="handleAddBmhp()">
                <i class="pi pi-plus" style="font-size: 13px"></i>
                <p class="text-sm text-gray-800 font-medium text-center">
                    Tambah Bahan Medis Habis Pakai
                </p>
            </div>
        </div>
    </div>
</div>