<p-dialog [header]="FormState == 'insert' ? 'Tambah Obat Racikan' : 'Edit Obat Racikan'" [modal]="true"
    [(visible)]="ShowDialog" [style]="{ width: '50rem' }" [draggable]="false" [resizable]="false">

    <div class="grid w-full">
        <div class="flex flex-col gap-2 p-2 border border-dashed border-gray-300 rounded-lg mb-4">
            <div *ngFor="let item of ObatRacikans; let i = index" class="flex flex-row gap-2">
                <!-- Nama Obat -->
                <div class="w-6/12 flex flex-col gap-1">
                    <p-dropdown #DropdownObatComps [options]="ObatDatasource" optionLabel="nama_obat" filter="true"
                        [autoDisplayFirst]="false" appendTo="body" styleClass="p-inputtext-sm" [showClear]="true"
                        (onChange)="handleChangeObat($event, i)" placeholder="Pilih obat">
                    </p-dropdown>
                </div>

                <!-- Qty -->
                <div class="w-2/12 flex flex-col gap-1">
                    <p-inputNumber styleClass="p-inputtext-sm" [(ngModel)]="item.qty" [min]="1"
                        (onBlur)="handleChangeQty($event, i)">
                    </p-inputNumber>
                </div>

                <!-- Total -->
                <div class="w-3/12 flex flex-col gap-1">
                    <p-inputNumber styleClass="p-inputtext-sm" [disabled]="true" [readonly]="true"
                        [(ngModel)]="item.total">
                    </p-inputNumber>
                </div>

                <!-- Button -->
                <div class="w-1/12">
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        styleClass="p-button-sm" (onClick)="handleDeleteObat(i)" />

                </div>
            </div>

            <div class="flex items-center justify-center gap-1 py-2 rounded-md bg-gray-100 hover:bg-gray-200 cursor-pointer"
                (click)="handleAddObat()">
                <i class="pi pi-plus" style="font-size: 13px"></i>
                <p class="text-base text-gray-800 font-medium text-center">
                    Tambah obat
                </p>
            </div>
        </div>

        <div class="flex flex-col gap-1 mb-4" [formGroup]="FormResep">
            <p class="text-gray-700 text-sm font-medium">
                Nama Racikan
            </p>
            <input type="text" pInputText class="p-inputtext-sm w-full" formControlName="nama_racikan"
                placeholder="Contoh: Obat Batuk Racikan">
        </div>

        <div class="flex flex-row gap-2 mb-4" [formGroup]="FormResep">
            <!-- Aturan Pakai -->
            <div class="w-6/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm font-medium">
                    Aturan Pakai
                </p>
                <input type="text" pInputText class="p-inputtext-sm w-full" formControlName="aturan_pakai"
                    placeholder="Contoh: 3 kali sehari, 1 tablet">
            </div>

            <!-- Rute Pemberian Obat -->
            <div class="w-6/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm font-medium">
                    Rute Pemberian Obat
                </p>
                <p-dropdown filter="true" [autoDisplayFirst]="false" appendTo="body" styleClass="p-inputtext-sm"
                    [options]="RutePemberianObat" optionLabel="label" optionValue="value"
                    formControlName="rute_pemberian_obat">
                </p-dropdown>
            </div>
        </div>

        <div class="flex flex-row gap-2 mb-4" [formGroup]="FormResep">
            <!-- Waktu Pemberian Obat -->
            <div class="w-6/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm font-medium">
                    Waktu Pemberian Obat
                </p>
                <div class="flex flex-col gap-2">
                    <div *ngFor="let item of WaktuPemberianObat" class="field-checkbox">
                        <p-checkbox formControlName="waktu_pemberian_obat" [label]="item.label"
                            name="waktu_pemberian_obat" [value]="item.value" />
                    </div>
                </div>
            </div>

            <!-- Rute Pemberian Obat -->
            <div class="w-6/12 flex flex-col gap-1">
                <p class="text-gray-700 text-sm font-medium">
                    Waktu Spesifik Pemberian Obat
                </p>
                <div class="flex flex-col gap-2">
                    <div *ngFor="let item of WaktuSpesifikPemberianObat" class="field-checkbox">
                        <p-checkbox formControlName="waktu_spesifik_pemberian_obat" [label]="item.label"
                            name="waktu_spesifik_pemberian_obat" [value]="item.value" />
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end gap-2 mt-3">
            <p-button label="Tutup" severity="secondary" styleClass="p-button-sm" (onClick)="ShowDialog = false" />

            <p-button *ngIf="FormState == 'insert'" label="Simpan" severity="info" styleClass="p-button-sm"
                (onClick)="handleSave(FormResep.value)" />

            <p-button *ngIf="FormState == 'update'" label="Update" severity="warning" styleClass="p-button-sm"
                (onClick)="handleSave(FormResep.value)" />
        </div>
    </div>
</p-dialog>