<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <!-- Grid -->
    <div *ngIf="PageState == 'list'" class="grid w-full">
        <app-grid [props]="GridProps" (cellClicked)="onCellClicked($event)"
            (rowDoubleClicked)="onRowDoubleClicked($event)" (toolbarClicked)="onToolbarClicked($event)">
        </app-grid>
    </div>

    <!-- Form -->
    <div *ngIf="PageState == 'form'" class="grid w-full p-3">
        <app-dynamic-form #FormComps [props]="FormProps"></app-dynamic-form>
    </div>
</app-dashboard>