<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <div class="grid grid-cols-12 gap-3 items-start">
        <div class="grid col-span-4 bg-white rounded-lg shadow p-3 gap-1">
            <p class="text-gray-700 text-sm font-medium">
                Tanggal Pencarian
            </p>

            <p-calendar #CalendarSearchComps selectionMode="range" styleClass="p-inputtext-sm w-full mb-2"
                dateFormat="dd/mm/yy" appendTo="body">
            </p-calendar>

            <p-button severity="info" label="Generate Laporan" styleClass="p-button-sm w-full"
                (onClick)="handleSearch(CalendarSearchComps.value)">
            </p-button>
        </div>

        <div *ngIf="Periode" id="laporan_penyakit" class="grid col-span-8 bg-white rounded-lg shadow-sm p-5">
            <app-header-laporan [title]="'Laporan Penyakit'" [periode]="Periode"></app-header-laporan>

            <app-grid #GridComps [props]="GridProps"></app-grid>
        </div>
    </div>
</app-dashboard>